.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('C:\Users\HP\Downloads\WhatsApp Image 2024-02-27 at 6.33.05 PM.jpeg'); /* Replace with your image path */
    background-image: url('C:\Users\HP\Downloads\WhatsApp Image 2024-03-06 at 7.10.03 PM (2).jpeg'); /* Replace with your image path */
    background-size: cover;
}

.registration-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
}

.registration-form h2 {
    margin-bottom: 20px;
}

.registration-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
}